<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="ComPort" value="COM5" />
    <add key="BaudRate" value="115200" />
    <add key="DataBits" value="8" />
    <add key="Parity" value="None" />
    <add key="StopBits" value="One" />
    <add key="MonitoringInterval" value="500" />
    <add key="CpuTxt" value="9950x3d " />
    <add key="CpuTxtEnd" value="C" />
    <add key="SensorIdCpu" value="/amdcpu/0/load/0" />
    <add key="SensorIdCpuTemp" value="/amdcpu/0/temperature/2" />
    <add key="MemTxt" value="Mem " />
    <add key="MemTxtEnd" value="G" />
    <add key="SensorIdMem" value="/ram/data/0" />
    <add key="SensorIdMemValue" value="/ram/data/0" />
    <add key="Gpu1Txt" value="Rtx5080 " />
    <add key="Gpu1TxtEnd" value="C" />
    <add key="SensorIdGpu1" value="/gpu-nvidia/0/load/0" />
    <add key="SensorIdGpu1Temp" value="/gpu-nvidia/0/temperature/0" />
    <add key="Gpu2Txt" value="AMD GPU " />
    <add key="Gpu2TxtEnd" value="C" />
    <add key="SensorIdGpu2" value="/gpu-amd/0/load/2" />
    <add key="SensorIdGpu2Temp" value="/gpu-amd/0/temperature/4" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>